.cartItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: rgba(222, 184, 135, 0.425);
    border-radius: 10px;
    padding: 10px;
    &__buttonWrapper{
        
        cursor: pointer;
    }
    &__button{
        width: 40px;
        height: 40px;
        visibility: hidden;
        position: relative;
        cursor: pointer;
        &::after,
        &::before{
            visibility: visible;
            position: absolute;
            height: 40px;
            width: 4px;
            content: '';
            background-color: rgb(182, 46, 46);
            border-radius: 4px;
            transform: rotate(45deg);
            bottom: -5px;
        }
        &::after{
            transform: rotate(-45deg);
        }
    }
}