.cartItem{
    display: grid;
    grid-template-columns: 15px 1fr 1fr 1fr;
    justify-items: self-start;
    margin-bottom: 20px;
    background-color: rgba(222, 184, 135, 0.425);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    &__name,
    &__number,
    &__price{
        margin-left: 20px;
    }
    &__price--strike{
        text-decoration: line-through;
    }
    &__title{
        text-align: left;
    }
    &__buttonWrapper{
        top: 10px;
        right: 20px;
        cursor: pointer;
        position: absolute;
    }
    &__button{
        width: 40px;
        height: 40px;
        visibility: hidden;
        position: relative;
        cursor: pointer;
        &::after,
        &::before{
            visibility: visible;
            position: absolute;
            height: 40px;
            width: 4px;
            content: '';
            background-color: rgb(182, 46, 46);
            border-radius: 4px;
            transform: rotate(45deg);
            bottom: -5px;
        }
        &::after{
            transform: rotate(-45deg);
        }
    }
}